html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontFamily;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  color: $darkBlue;
  font-weight: $fontBlack;
}

p {
  font-size: $fontSize;
  color: $desaturatedBlue;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
