$widthMobile: 375px;
$widthDesktop: 1440px;

$paleBlue: hsl(225, 100%, 94%);
$brightBlue: rgb(56, 41, 224);
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);
$white: hsl(0, 0%, 100%);

$fontFamily: 'Red Hat Display', sans-serif;
$fontSize: 1rem;
$fontMedium: 500;
$fontBold: 700;
$fontBlack: 900;
